@import '@/styles/utilities/color.css';
@import '@/styles/utilities/font.css';
@import '@/styles/utilities/shadow.css';

@layer utilities {
  .screen-minus-header-nav {
    height: calc(100svh - 8.5rem);
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
