html {
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  max-width: 450px;
  width: 100%;
  font-family: 'PyeojinGothic';
  background-color: white;
}
